*{
    margin: 0;
    padding: 0;
}

.header{
overflow: hidden;
}
.header_logo{
    width: 20%;
    height: 100px;
    float: left;
    background: #F5CCE8;
    text-align: center;
}
.header_banner{
    width: 80%;
    height: 100px;
    float: left;
    background: #ec9ded;
    text-align: center;
}
.header_bar{
    width:100%;
    text-align: center;
    background: #c880b7;
    height: 100px;
}
.center{
    overflow: hidden;
    width: 60%;
    float: left;
    height: 400px;  
    text-align: center;
    background-color: #84596b;
}
.top{
    height: 100px;
    background: #af9bb6;
    width: 100%;
    text-align: center;
    float: left;
}
.middle{
    height: 200px;
    width: 100%;
    float: left;
}
.mid_left{
    text-align: left;
    width: 50%;
    height: 200px;
    float: left;
    background: #c3b4c8;
}
.mid_right{
    text-align: left;
    width: 50%;
    height: 200px;
    float: left;
    background: #440d0f;
}
.bottom{
    height: 100px;
    width: 100%;
    text-align: center;
    float: left;
    background: lightblue;
}
.left_block{
    float: left;
    width: 20%;
    height: 400px;
    text-align: left;
    background: #9f6ba0;
}

.right_block{
    float: right;
    width: 20%;
    height: 400px;
    text-align: left;
    background: #5a3451;
}
.footer{
    height: 150px;
    width: 100%;
    float: left;
    background: #603a40;
    text-align: center;
}